accelerate
codetiming
datasets
dill
flash-attn
hydra-core
numpy
pandas
pybind11
ray
torch==2.4.0
tensordict==0.5.0
transformers==4.47.1
vllm==0.6.3
wandb
IPython
matplotlib
FlagEmbedding
flask
pdfplumber
faiss-gpu==1.7.3